<h1>Users#edit</h1>
<p>ユーザー情報変更</p>

<%= form_for @user do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :height %>
<%= f.text_field :height %>

<%= f.label :weight %>
<%= f.text_field :weight %>

<%= f.submit %>

<% end %>