<h1>ユーザー詳細</h1>

<%= attachment_image_tag @user, :icon_image, fallback: "no_image.png" %>
<%= @user.name %>
<% if @user.id == current_user.id %>
<%= @user.email %>
<% end %>
<%= @user.age.to_s + "歳" %>
<%= @user.gender %>
<%= @user.height %>
<%= @user.weight %>


<% if @user.id == current_user.id %>
<%= link_to "プロフィール編集", edit_user_path(@user) %>
<% end %>
<br>
<% @user.posts.each do |post|%>
<%= post.date %><br>
【食事内容】<br>
<div class="content"><%= post.meal_content %></div>
【トレーニング内容】<br>
<div class="content"><%= post.training_content %></div>
【体重】
<div class="content"><%= post.weight %>kg</div>

<div id="favorite_buttons_<%= post.id %>">
　　　<%= render 'favorites/favorite', post: post %>
</div>

<% if @user.id == current_user.id %>
<%= link_to "編集", edit_post_path(post) %>

<%= link_to "削除", post_path(post), method: :delete, data: {confirm: "削除しますか？"} %>
<% end %>

<br>
<hr>

<% end %>
