<div class="center">
<h1>投稿編集</h1>

<%= form_for @post do |f| %>
<%= f.label :date %>
<%= f.date_field :date %><br>

<%= f.label :食事内容 %><br>
<%= f.text_area :meal_content, class: "mgb10", :size=>"60x5" %><br>

<%= f.label :トレーニング内容 %><br>
<%= f.text_area :training_content, class: "mgb10", :size=>"60x5" %><br>

<%= f.label :体重 %>
<%= f.number_field :weight %> kg<br>

<%= f.submit %>

<% end %>
</div>