<h1>投稿一覧</h1>


<div>
    <%= form_tag(posts_path, method: "get") do %>
    <%= label_tag :name, "性別" %>
    <%= select_tag :gender, options_for_select(User.genders, {selected: params[:gender]}), include_blank: "すべて" %>
    <%= label_tag :name, "年齢" %>
    <%= select_tag :age, options_for_select([["20代", 20], ["30代", 30], ["40代", 40], ["50代", 50]], {selected: params[:age]}) , include_blank: "すべて" %>
    <%= submit_tag "検索" %>
    <% end %>
</div>

<% @posts.each do |post|%>
<%= link_to user_path(post.user) do %>
<%= attachment_image_tag post.user, :icon_image, fallback: "no_image.png" %>
<% end %>
<%= link_to user_path(post.user) do %>
<%= post.user.name %>
<% end %>
<%= post.user.age.to_s + "歳" %>
<%= post.user.gender %>
<%= post.date %><br>
【食事内容】<br>
<div class="content"><%= post.meal_content %></div>
【トレーニング内容】<br>    
<div class="content"><%= post.training_content %></div>
【体重】<br>
<div class="content"><%= post.weight %>kg</div>
<div id="favorite_buttons_<%= post.id %>">
　　<%= render 'favorites/favorite', post: post %>
</div>



<%= link_to "詳細", post_path(post) %><br>
<hr>


<% end %>