<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= link_to user_path(@post.user.id) do %>
<%= attachment_image_tag @post.user, :icon_image, fallback: "no_image.png" %>
<% end %>

<%= link_to user_path(@post.user) do %>
    <%= @post.user.name %>
<% end %>

<%= @post.date %>

<%= @post.meal_content %>

<%= @post.training_content %>

<%= @post.weight %>

<% if current_user.alredy_favorited?(@post) %>
    <%= link_to 'いいね外す', post_favorites_path(@post), method: :delete %>
 <% else %>
    <%= link_to 'いいね', post_favorites_path(@post), method: :post %>
<% end %>
<%= @post.favorites.count %>


<% if @post.user.id == current_user.id %>
    <%= link_to "編集", edit_post_path(@post) %>
<% end %>

