<h1>投稿詳細</h1>


<%= link_to user_path(@post.user.id) do %>
<%= attachment_image_tag @post.user, :icon_image, fallback: "no_image.png" %>
<% end %>

<%= link_to user_path(@post.user) do %>
    <%= @post.user.name %>
<% end %>

<%= @post.date %>

<%= @post.meal_content %>

<%= @post.training_content %>

<%= @post.weight %>

<div id="favorite_buttons_<%= @post.id %>">
　　　<%= render 'favorites/favorite', post: @post %>
</div>



<% if @post.user.id == current_user.id %>
    <%= link_to "編集", edit_post_path(@post) %>
<% end %>

<% @comments.each do |comment| %>
    <%= comment.comment_content %>
<% end %>
<%= form_for @comment do |f| %>
    <%= f.label :comment_content %>
    <%= f.text_area :comment_content %>
    
    <%= f.submit %>
<% end %>

